<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{login_Layout}">
<head>
    <title>Admin Login</title>
</head>
<body>

<div layout:fragment="content" class="container">
<br>
	<h1>User Login</h1>
	<form th:action="userLogin" method="post">
		<div class="form-group">
			<input name="mail" class="form-control" placeholder="Mail">		
		 </div>	
		 
		 <div class="form-group">
			<input name="pass" type="password" class="form-control" placeholder="Password">		
		 </div>
		 
		 <button class="btn btn-success">Login </button>	
	</form>
    
</div>

</body>
</html>